<!-- <div class="footer">
    <p ID = "copyright">Copyright 2022 ThieuLuu @ UET.</p>
    <button class="button-icon"><i class="icon fa-solid fa-envelope fa-2x"></i></button>
    <button class="button-icon"><i class="icon fa-brands fa-facebook fa-2x"></i></button>
    <button class="button-icon"><i class="icon fa-brands fa-linkedin fa-2x"></i></button>
</div> -->