<nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color: #6E85B7">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #ffff">Crawler</a>
      
      <form class="d-flex" method="post" action="/crawl">
        <input class="form-control me-2" placeholder="Type your link" name="q">
        <button class="btn btn-outline-success" method="POST" action="/crawl" type="submit">Crawl</button>
      </form>
    </div>
  </nav>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
     